<div class="wine-card">
  <div class="wine-info">
    <div class="wine-card-left">
      <img [src]="wine.imagem" alt="Wine Bottle" class="wine-card-image">
    </div>
    <div class="wine-details">
      <h3 class="wine-name">{{ wine.nome }}</h3>
      <h4 class="wine-type">{{ wine.adega }}</h4>
      <h4 class="wine-uva">{{ wine.uva }}</h4>
      <h4 class="wine-safra">{{ wine.safra }}</h4>
      <p class="wine-location">{{ wine.pais }}</p>
    </div>
    <div class="wine-rating-section">
      <div style="display: flex; flex-direction: column;">
        <div>
          <div class="wine-rating-value">{{ wine.avaliacao }} <span class="wine-rating-count">
              ({{wine.qtdAvaliacao}} Avaliações)</span></div>
          <div class="wine-rating-bar">
            <div class="wine-rating-bar-fill" [ngStyle]="{'width': getRatingWidth(wine.avaliacao)}"></div>
          </div>
        </div>
        <div class="price-button-section">
          <button class="btn-success">Ver Preço</button>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>''
  <div class="wine-card-footer">
    </div>
