.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.nav-option {
  margin: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-icon {
  margin-left: 5px;
  transition: transform 0.3s;
}

.nav-icon.rotate {
  transform: rotate(180deg);
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-style: italic;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
